---
import Layout from '../layouts/Layout.astro';
import Aboutus from '../components/Aboutus';
import Footer from '../components/Footer.astro';
---

<Layout title="Wincor-Nixdorf" description="ATM Vendor Manufacturer">
	<Aboutus client:load/>
</Layout>
<div class="fixed-bottom">
	<Footer/>
</div>